provisionDataStore:
  cassandra: false
  elasticsearch: true
  kafka: true

storage:
  type: elasticsearch
  elasticsearch:
    host: jaeger-elasticsearch
    port: 9200
    scheme: http
    username: "elastic"
    usePassword: true
    existingSecret: "jaegerpassword"
    existingSecretKey: "JaegerPassword"
    indexPrefix: "jaeger"
  kafka:
    brokers:
      - jaeger-kafka:9092
    topic: jaeger-spans
    authentication: none
    extraEnv: []
  grpcPlugin:
    extraEnv: []
  badger:
    ephemeral: true
    persistence:
      mountPath: /mnt/data
      useExistingPvcName: ""
    extraEnv: []
  memory:
    extraEnv: []


ingester:
  enabled: true
  extraEnv:
    - name: SPAN_STORAGE_TYPE
      value: elasticsearch

    - name: KAFKA_CONSUMER_BROKERS
      value: jaeger-kafka:9092
    - name: KAFKA_CONSUMER_TOPIC
      value: jaeger-spans
    - name: KAFKA_CONSUMER_CONFIG_AUTO_OFFSET_RESET
      value: latest
    - name: KAFKA_CONSUMER_GROUP_ID
      value: jaeger-ingester

  livenessProbe:
    httpGet:
      path: /
      port: 14270
    initialDelaySeconds: 10
    periodSeconds: 10
    failureThreshold: 3

  readinessProbe:
    httpGet:
      path: /
      port: 14270
    initialDelaySeconds: 10
    periodSeconds: 10
    failureThreshold: 3
  resources:
    requests:
      cpu: "10m"
      memory: "80Mi"
    limits:
      cpu: "80m"
      memory: "100Mi"
  serviceMonitor:
    enabled: true

collector:
  enabled: true
  service:
    otlp:
      http:
        name: otlp-http
        port: 4318
      grpc:
        name: otlp-grpc
        port: 4317
  resources:
    requests:
      cpu: "5m"
      memory: "80Mi"
    limits:
      cpu: "50m"
      memory: "100Mi"
  serviceMonitor:
    enabled: true
  extraEnv:
    - name: SPAN_STORAGE_TYPE
      value: kafka
    - name: KAFKA_PRODUCER_BROKERS
      value: jaeger-kafka:9092
    - name: KAFKA_PRODUCER_TOPIC
      value: jaeger-spans

  cmdlineParams:
    collector.otlp.grpc.host-port: ":4317"
    collector.otlp.http.host-port: ":4318"
    collector.zipkin.host-port: ":9411"
    admin.http.host-port: ":14269"
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    pathType: Prefix
    path: /
    hosts:
      - jaegercollector.devops-tool.com
    tls:
      - hosts:
          - jaegercollector.devops-tool.com
        secretName: jaeger-collector-ingress-tls

agent:
  enabled: true
  resources:
    requests:
      cpu: "4m"
      memory: "50Mi"
    limits:
      cpu: "50m"
      memory: "80Mi"
  serviceMonitor:
    enabled: true

query:
  enabled: true
  extraEnv:
    - name: SPAN_STORAGE_TYPE
      value: elasticsearch
    - name: METRICS_STORAGE_TYPE
      value: prometheus

    - name: PROMETHEUS_SERVER_URL
      value: http://vmselect-vmks-victoria-metrics-k8s-stack.victoriametrics.svc.cluster.local:8481/select/0/prometheus

    # Optional but recommended with recent Otel changes
    - name: PROMETHEUS_QUERY_NORMALIZE_CALLS
      value: "true"
    - name: PROMETHEUS_QUERY_NORMALIZE_DURATION
      value: "true"

  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    pathType: Prefix
    path: /
    hosts:
      - jaegerdashboard.devops-tool.com
    tls:
      - hosts:
          - jaegerdashboard.devops-tool.com
        secretName: jaegerdashboard-ingress-tls
  resources:
    requests:
      cpu: "5m"
      memory: "80Mi"
    limits:
      cpu: "50m"
      memory: "100Mi"
  serviceMonitor:
    enabled: true



kafka:
  replicaCount: 1
  image:
    repository: bitnamilegacy/kafka
  controller:
    replicaCount: 1
    extraConfig: |
      auto.create.topics.enable=true
      offsets.topic.replication.factor=1
  resources:
    requests:
      cpu: "20m"
      memory: "200Mi"
    limits:
      cpu: "80m"
      memory: "800Mi"
  provisioning:
    enabled: true
  listeners:
    client:
      protocol: PLAINTEXT
    controller:
      protocol: PLAINTEXT
    interbroker:
      protocol: PLAINTEXT
    external:
      protocol: PLAINTEXT

elasticsearch:
  enabled: true
  image:
    repository: bitnamilegacy/elasticsearch
    tag: "7.17.22"
  master:
    replicaCount: 1
    persistence:
      enabled: true
      storageClass: "managed-csi"
      size: 10Gi
  data:
    replicaCount: 1
    persistence:
      enabled: true
      storageClass: "managed-csi"
      size: 10Gi
  coordinating:
    replicaCount: 0
  ingest:
    replicaCount: 0
  sysctlImage:
    repository: bitnamilegacy/os-shell
  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell
  metrics:
    image:
      repository: bitnamilegacy/elasticsearch-exporter
      tag: "1.5.0"


esIndexCleaner:
  enabled: true

  # Run once per day at 23:55
  schedule: "55 23 * * *"

  # Keep only the last 7 days of traces (delete older indices)
  numberOfDays: 15

  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3

  # Extra env for the cleaner Python script
  extraEnv:
    - name: HOSTNAME
      value: "http://jaeger-elasticsearch:9200"
    - name: INDEX_PREFIX
      value: "jaeger"
    - name: ES_USERNAME
      value: "elastic"
    - name: ES_PASSWORD
      valueFrom:
        secretKeyRef:
          name: jaegerpassword
          key: JaegerPassword

spark:
  enabled: true

  # Run once per day at 01:00 UTC to compute dependencies for the previous day
  schedule: "0 1 * * *"

  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3

  resources:
    requests:
      cpu: "90m"
      memory: "500Mi"
    limits:
      cpu: "800m"
      memory: "1Gi"