prometheus:
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    hosts:
      - prometheusdashboard.devops-tool.com
    paths:
      - /
    tls:
      - secretName: tls-prometheus-kv
        hosts:
          - prometheusdashboard.devops-tool.com

  service:
    type: ClusterIP

  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false