loki:
  podAnnotations:
    azure.workload.identity/inject-proxy-sidecar: "true"

  podLabels:
    azure.workload.identity/use: "true"

  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: azure
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  storage_config:
    azure:
      account_name: "lokistorage001"
      container_name: "chunkbucket"
      use_federated_token: true

  ingester:
    chunk_encoding: snappy

  pattern_ingester:
    enabled: true

  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
    retention_period: 672h  # 28 jours

  compactor:
    retention_enabled: true
    delete_request_store: azure

  ruler:
    enable_api: true
    storage:
      type: azure
      azure:
        account_name: lokistorage001
        container_name: rulerbucket
        use_federated_token: true
    alertmanager_url: https://alertmanager.devops-tool.com

  querier:
    max_concurrent: 4



  storage:
    type: azure
    bucketNames:
      chunks: "chunkbucket"
      ruler: "rulerbucket"
    azure:
      accountName: lokistorage001
      useFederatedToken: true


serviceAccount:
  name: loki
  annotations:
    azure.workload.identity/client-id: d8968b18-b2a8-460b-83ba-0edf3d46d153


deploymentMode: Distributed


ingester:
  replicas: 2
  maxUnavailable: 1
  zoneAwareReplication:
    enabled: false
  podLabels:
    cilium.io/component: ingester


querier:
  replicas: 1
  maxUnavailable: 1
  podLabels:
    cilium.io/component: querier


queryFrontend:
  replicas: 1
  maxUnavailable: 1
  podLabels:
    cilium.io/component: query-frontend


queryScheduler:
  replicas: 1
  podLabels:
    cilium.io/component: query-scheduler


distributor:
  replicas: 1
  maxUnavailable: 1
  podLabels:
    cilium.io/component: distributor


compactor:
  replicas: 1
  podLabels:
    cilium.io/component: compactor


indexGateway:
  replicas: 1
  maxUnavailable: 1
  podLabels:
    cilium.io/component: index-gateway


ruler:
  replicas: 1
  maxUnavailable: 1
  podLabels:
    cilium.io/component: ruler


gateway:
  service:
    type: ClusterIP
    labels:
      app.kubernetes.io/component: gateway
  podLabels:
    cilium.io/component: gateway

  basicAuth:
    enabled: true
    existingSecret: loki-basic-auth
    htpasswdFile: .htpasswd

  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    hosts:
      - host: grafanaloki.devops-tool.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - grafanaloki.devops-tool.com
        secretName: tls-grafana-loki-kv


lokiCanary:
  extraArgs:
    - -pass=$(LOKI_PASS)
    - -user=$(LOKI_USER)
  extraEnv:
    - name: LOKI_PASS
      valueFrom:
        secretKeyRef:
          name: canary-basic-auth
          key: password
    - name: LOKI_USER
      valueFrom:
        secretKeyRef:
          name: canary-basic-auth
          key: username
  podLabels:
    cilium.io/component: loki-canary


minio:
  enabled: false


backend:
  replicas: 0

read:
  replicas: 0

write:
  replicas: 0

singleBinary:
  replicas: 0

chunksCache:
  enabled: true
  allocatedMemory: 3000
  resources:
    requests:
      cpu: "50"
      memory: "3Gi"
    limits:
      cpu: "500m"
      memory: "4Gi"

resultsCache:
  enabled: true
  allocatedMemory: 512
  resources:
    requests:
      cpu: "20"
      memory: "512Mi"
    limits:
      cpu: "200m"
      memory: "1Gi"

