apiVersion: batch/v1
kind: Job
metadata:
  name: azdevops-deployment
  namespace: devops-agent
  labels:
    app: azdevops-agent
spec:
  template:
    metadata:
      labels:
        app: azdevops-agent
    spec:
      serviceAccountName: keyvault-sa
      containers:
        - name: azdevops-agent
          image: yassmineljeri/pfeproject:v10
          env:
            - name: AZP_URL
              valueFrom:
                secretKeyRef:
                  name: az-devops-agent-secrets
                  key: AZP_URL
            - name: AZP_POOL
              valueFrom:
                secretKeyRef:
                  name: az-devops-agent-secrets
                  key: AZP_POOL
            - name: AZP_TOKEN
              valueFrom:
                secretKeyRef:
                  name: az-devops-agent-secrets
                  key: AZP_TOKEN
            - name: DockerPassword
              valueFrom:
                secretKeyRef:
                  name: az-devops-agent-secrets
                  key: DockerPassword
            - name: DockerUsername
              valueFrom:
                secretKeyRef:
                  name: az-devops-agent-secrets
                  key: DockerUsername
          volumeMounts:
            - name: secrets-store-inline
              mountPath: "/mnt/secrets-store"
              readOnly: true
      volumes:
        - name: secrets-store-inline
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: azure-devops-agent-secrets
      restartPolicy: Never
